<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkTimeTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WorkTimeTracker.Properties.Settings>
            <setting name="listThresholds" serializeAs="String">
                <value />
            </setting>
            <setting name="listBreaks" serializeAs="String">
                <value />
            </setting>
            <setting name="listSubtitles" serializeAs="String">
                <value />
            </setting>
            <setting name="listDays" serializeAs="String">
                <value />
            </setting>
            <setting name="intWorkDuration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="intInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dtWorkStartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="dtWorkEndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="tsWorkTimeRemaining" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="tsWorkTimeElapsed" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="colorTrayIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="biHead" serializeAs="String">
                <value />
            </setting>
            <setting name="biClock" serializeAs="String">
                <value />
            </setting>
        </WorkTimeTracker.Properties.Settings>
    </userSettings>
</configuration>